# Ignore data folder

# Ignore Python cache folders
__pycache__/
*/__pycache__/
**/__pycache__/
*.py[cod]
*$py.class

# Ignore models folder
*.gguf

dpa_env/

results/

results_v2/

semantic_results/
.env
.venv/
